@page "/books"
@using Bookshelf.Service
@using Bookshelf.ViewModel
@using Bookshelf.Components

@inject BookService BookService

<div class="row p-3">
    <h3 class="col-2">BookShelf</h3>
    <button class="col-1 btn btn-primary" @onclick="AddBook">Add book</button>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Edit</th>
                <th>Title</th>
                <th>Tags</th>
                <th>Is e-book</th>
                <th>Is Available</th>
                <th>Borrowed by</th>
            </tr>
        </thead>

        @if (_books != null)
        {
            <tbody>
                @foreach (var book in _books)
                {
                    <tr>
                        <td><button class="btn-primary" @onclick="@(() => EditBook(book))">Edit</button></td>
                        <td>@book.Title</td>
                        <td>@GetTags(book)</td>
                        <td>@book.IsEbook</td>
                        <td>@book.Available</td>
                        <td>@book.Borrower</td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>

<BookComponent Display="@_showAddBook" OnSave="@SaveBook" Book="@_book" />

@code {

    private bool _showAddBook;
    private BookViewModel _book;

    private BookViewModel[] _books;

    protected override async Task OnInitializedAsync()
    {
        _showAddBook = false;
        await LoadBooks();
    }

    private async Task LoadBooks()
    {
        _books = await BookService.GetBookViewModelsAsync();
    }

    private void AddBook()
    {
        _book = new BookViewModel();
        _showAddBook = true;
    }
    
    private void EditBook(BookViewModel book)
    {
        _book = book;
        _showAddBook = true;
    }

    private string GetTags(BookViewModel book)
    {
        var tags = "";
        foreach (var tag in book.Tags)
        {
            tags += $"{tag}, ";
        }
        return tags.TrimEnd(' ').TrimEnd(',');
    }

    public async Task SaveBook(BookViewModel book)
    {
        await BookService.SaveBookViewModel(book);
        await LoadBooks();
    }
}
